<app-header></app-header>
<div style="height:40%; margin-top: 10%; margin-left: 30%; width:50%;display: flex;justify-content: center;align-items: center;">
    <div class="col-md-6 mx-auto" style="box-shadow: 5px 5px 5px #393E46; ">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0" style="text-align: center;"><i class="fa-solid fa-users" style="margin-right:5px;"></i>Login</h3>
                <div class="card-body">
                    <form  class="form">
                        <div class="form-group">
                         <label for=""><i class="fa-solid fa-envelope" style="margin-right:5px"></i>Email</label>
                            <input [(ngModel)]="loginUserData.email" name="email" type="text" class="form-control rounded-0" required> <!--Using ngModel Directive to store data-->        
                        </div>
                        <div class="form-group">
                            <label for=""><i class="fa-solid fa-unlock-keyhole" style="margin-right:5px;margin-top: 10px;"></i>Password</label>
                            <input [(ngModel)]="loginUserData.password" name="password" type="password" class="form-control rounded-0" required>
                        </div>
                        <button (click)="loginUser()" type="button" class="btn  float-right mt-2" style="background-color:#393E46; color: whitesmoke;margin-left: 40%; margin-top: 4%;">Login</button>
                    <br/><br/> <span style="margin-left: 8%;">New to Shopper's Stop? <span  routerLink="/register"><b>Register</b></span></span>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

