<app-header></app-header>
<ng-container *ngIf="products.length!=0"> <!--Conditional Rendering of HTML component using Structural Directives-->
    <div class="container">  <!-- If user has added something in cart and tries to checkout cart page-->
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products;let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.title}}</td>
                            <td><img style="width:120px" src="{{item.image}}" alt=""></td>
                            <td style="width:25%">{{item.description}}</td>
                            <th style="width:12%">{{item.price}}</th>
                            <td style="width:12%">{{item.quantity}}</td>
                            <td style="width:12%">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger" style="cursor:pointer"><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">  </td><!--Col span will leave first 04 clomns and the start-->
                             <td><button class="btn btn-danger" (click)="emptycart()" style="cursor:pointer">Empty Cart</button></td>  
                            <td> <button class="btn btn-primary" routerLink="/products" style="cursor:pointer">Shop More</button></td>  
                            <td><button class="btn btn-success" (click)="handleCheckout()" style="cursor:pointer">Checkout</button></td>   
                           <td><strong>Grand Total  ${{this._arr1[0]}}</strong></td>
                           <td><strong>Discount Applied<br>${{this._arr1[1]}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
    </div>

</ng-container>

<ng-container *ngIf="products.length==0">   <!--Conditional Rendering of HTML component using Structural Directives-->
    <div class="container"> <!-- If user has added nothing in cart and tries to checkout cart page-->
        <div class="card">
            <h5 class="card-title">My Cart</h5>
        </div>
        <div class="center">
            <img src="https://cdni.iconscout.com/illustration/premium/thumb/online-shopping-flat-icon-isolated-on-white-background-997780.png" alt=""/>
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products"  class="btn" style="background-color:#393E46; color: whitesmoke;">Shop Now</button>
        </div>
    </div>
</ng-container>
